* {
    box-sizing: border-box;
}
:root{
    --font-heading:"sen", sans-serif;
    --primar-color:#FFB900;
}
html,body{
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
.line-clamp{
    display:-webkit-box;
    -webkit-line-clamp: var(--line-clamp,2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content{
    width:1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right:auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    font-size: 1.6 rem;
    min-width: 118px;
    font-weight: 600;
    text-align: center;
    color:#FFFFFF;
    line-height: 50px;
    border-radius: 999px;
    padding:0 12px;
    background-color: #171100;
}
.btn:hover{
    opacity: 0.9;
}
.heading{
    font-family: var(--font-heading);
    font-weight: 700;
}
.break-all{
    word-break: break-all;
}
.active{
    background-color: #FFB900;
    cursor: none;
}
/* header */
.heading.lv1{
    font-size: 5.8rem;
    line-height: 68px;
    letter-spacing: -0.02em;
}
.header{
     background-color: #FFFCF4;
}
.header.fixed{
    position: sticky;
    top:-28px;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}
.header .btn.sign-up{
    width: 144px;
}
.Nav{
    margin-left: auto;
    margin-right: 30px;
}
.Nav ul{
    display:flex;
}

.Nav li a{
    position: relative;
    font-size: 1.6 rem;
    font-weight: 400;
    color: #5F5B53;
    padding:8px 21px
}
.Nav a:hover,
.Nav li.active a{
    text-shadow: 1px 0 0 currentColor;
    color:  #171100;
;
}
.Nav li.active a::after{
    position: absolute;
    content:"";
    display: inline-block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background-color: #171100;

}
/* hero */
.hero .media img.picture{
    width: 470px;
    height: 685px;
    border-radius: 20px ;
    opacity: 0px;
    object-fit: cover;
    display: block;
}
.hero{
    padding-top:56px;
    background-color: #FFFCF4;
}

.hero .body{
    display: flex;
    padding-bottom: 65px;
}
.hero .media{
    position:relative;
    width:48%;
}
.hero-sumary{
    position:absolute;
    right:0;
    bottom:48px;
    width: 270px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    padding: 24px;

}
.hero-sumary .item{
    display: flex;
    align-items: center;
}
.hero-sumary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF9E8;
}
.hero-sumary .infor{
    margin-left: 16px;
}
.hero-sumary .infor .label{
    font-size: 1.4 rem;
    font-weight: 400;
    line-height: 26px;
    color: #5F5B53;
}
.hero-sumary .infor .title{
    font-size: 1.8 rem;
    font-weight: 600;
    line-height: 30px;
}
 .hero-sumary .item + .item{
    margin-top:22px;
}
.hero-sumary .item:nth-of-type(2) .icon{
    background-color: #FCEFFF;
}
.hero-sumary .item:nth-of-type(3) .icon{
    background-color: #EBEAFF;
}
.hero .content-hero{
    width:52%;
    padding:64px 0 0 130px;
}
/* .content-hero .heading{
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: left;
} */
.content-hero .des{
    margin-top:22px ;
    font-size: 1.8 rem;
    font-weight: 400;
    line-height: 30px;
    color:#5F5B53;
}
.content-hero .cta-group{
    display: flex;
    align-items: center;
    margin:38px 0 48px;
}
.btn.cta-btn{
   min-width: 180px;
   line-height: 64px;
   background-color:var(--primar-color) ;
}
.watch-video{
    display: flex;
    align-items: center;
    border: none;
    margin-left: 28px;
    background-color: #FFFCF4;
    display: flex;
    cursor: pointer;
}
.watch-video .icon{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px #00000012;
}
.watch-video span{
    font-size: 1.8 rem;
    font-weight: 600;
    line-height: 30px;
   margin-left: 18px;

}
.des.stats{
    margin-top: 8px;
}
.des.stats strong{
    padding-right: 8px;
    font-family: var(--font-heading);
    font-size:  44px;
    font-weight: 700;
    line-height: 54px;
    color: #171100;
}
.des.stats strong+strong{
    padding-left: 28px;
}
/* popular */
.popular{
    padding-top:65px;
    padding-bottom: 65px;
    margin-top: 135px;
    background-color: #FFFCF4;
}
.heading.lv2{
    font-size: 3.8rem;
    line-height: 48px;
    letter-spacing: -0.02em;
}
.popular .infor .desc{
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color:#5F5B53;
    width:458px;

}
.popular-top{
    display:flex;
    align-items: center;
}
.popular-top .control{
    margin-left:auto;
}
.popular .control .btn-chevron{
    border: 1px solid var(--primar-color);
    background: transparent;
    width:40px;
    height: 40px;
    border-radius: 50%;
    color:var(--primar-color);
}
.popular .control .btn-chevron:nth-of-type(2){
    margin-left:20px;
}
.popular .control .btn-chevron:hover{
    color:#fff;
    background-color: var(--primar-color);
}
/* popular-bottom */
.courses-list{
    padding-top: 40px;
    display:flex;
    gap:30px;
}
.courses-list .item{
    flex: 1;
}
.courses-list .item .thumb-img{
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    opacity: 0px;
    object-fit: cover;
    display: block;
}
.courses-list .infor{
    padding:10px 10px 20px 15px;
    width: 370px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
}
.courses-list .infor .title{
    display: flex;
    align-items: center;
}
.courses-list .infor .title .heading.lv3{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
.courses-list .infor img{
    margin-left: auto;
    width: 18px;
    height: 18px;
    font-weight: 600;
    color:#FEA31B;
}
.courses-list .infor span{
    margin-left:5px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    color:#FEA31B;
}
.courses-list .infor .desc{
    margin-top:10px;
    width: 326px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.courses-list .infor .statis{
    display: flex;
    margin-top:10px;
    justify-content: space-between;
    align-items: center;
}
.courses-list .btn{
    background-color: #171100;
    width:118px;
    line-height: 54px;
}
.courses-list .infor .statis .btn:hover{
    background-color: #FFB900;
    cursor: pointer;
}
.courses-list .infor .statis span{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: #171100;

}
/* feedback */
.feedback{
    margin-top:135px;
    padding:96px 0 96px;
    
    background-color:#2E2100;
}
.list-feedback{
    display:flex;
    overflow: hidden;
}
.feedback .item-feedback{
    display:flex;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
    transition: all ease .3s;
}
.feedback .infor .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback .infor .heading.lv4{
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
}
.feedback .infor .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8; /* 185.714% */
    }

.feedback .content-feedback{
    width: 65%;
}
.feedback .infor{
    width:39%;
}

.feedback .infor .dots{
    margin-top:28px;
    display:flex;
    gap:5px;
}
.feedback .infor .dot{
    width:10px;
    height:10px;
    border-radius: 50%;
     background-color: #634700;
}
.feedback .infor .dots .dot.active{
    background-color: #FEA31B;
}
.feedback .infor .dots .dot:hover{
    background-color: #FEA31B;
    cursor: pointer;
}
.feedback .content-feedback .desc-feedback{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
    margin-left: 30px;
}
/* feature */
.feature{
    margin-top:135px;
    padding-top: 65px;
}
.feature .body-feature{
    display:flex;
}
.feature img.thumb-feature-bottom{
    margin-top: 34px;;
    display: inline-block;
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}
.feature .body-feature .thumb-feature-top{
    display: inline-block;
    margin-left:30px;
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}
.feature .feature-right{
    width: 40%;
    margin-left:auto;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.feature .feature-left{
    display: flex;
}
.feature .feature-right .heading.lv2{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
    width: 470px;
}
.feature .feature-right .desc-feature-main{
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.feature .feature-right .btn-feature{
    margin-top: 32px;
    min-width:137px;
    height: 50px;
}
.feature .feature-right .btn-feature:hover{
    background-color: var(--primar-color);
    cursor: pointer;
}
/* blog first */
.blog-first{
    margin-top: 135px;
    padding: 65px 0;
}
.blog-first-body{
    display: flex;
}
.blog-first-body .image{
    width: 40%;
}
.blog-first-body .thumb-blog{
    width: 470px;
    height: 440px;
    border-radius: 20px
}
.blog-first-body .blog-first-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.blog-first-body .blog-first-left .heading-blog-first{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
    max-width: 570px;
}
.blog-first-body .blog-first-left .desc-blog-first{
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.blog-first-body .blog-first-left .btn-blog-first{
    margin-top: 32px;
   min-width: 137px;
   height: 50px;
   border-radius: 26px;
}
.blog-first-body .blog-first-left .btn-blog-first:hover{
    background-color: var(--primar-color);
    cursor: pointer;
}
/* blog second */
.blog-second{
    margin-top: 135px;
    background-color: #FFFCF4;

}
.blog-second .blog-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog-second .blog-top .heading.heading-blog-second{
    padding-top: 96px ;
    color: #130606;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.blog-second .blog-top .desc-blog-second{
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
    max-width: 448px;
    margin-top: 16px;
}
/* blog-bottom */
.blog-bottom{
    padding-top: 55px;
}
.blog-bottom .col-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blog-bottom .col-item .thumb-col-item{
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}
.cross{
    margin:12px 0 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}
.blog-bottom .col-item .infor{
    padding:20px 20px 28px 20px;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
}
.blog-bottom .col-item .infor .date {
    display: flex;
    align-items: center;
    gap:4px;
}
.blog-bottom .col-item .infor .date .time{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
.blog-bottom .col-item .infor .title{
    width: 330px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.blog-bottom .col-item .infor .btn-blog-bottom{
    margin-top: 12px;
    max-width: 118px;
    height: 50px;
    border-radius: 25px;
}
.blog-bottom .col-item .infor .btn-blog-bottom:hover{
    background-color: var(--primar-color);
    cursor: pointer;
}
.list-blogs-item{
    display: flex;
    flex-shrink: 1;
    gap: 30px;
}
.blog-bottom .list-blogs .item{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
    transition: all ease .3s;
}
.blog-bottom .list-blogs .item .list-blogs-item .col-item:hover{
    border-radius: 0 0 16px 16px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}
.blog-bottom .list-blogs .item .dots{
    display: flex;
    gap:4px;
    margin-top: 38px;
    padding-bottom: 96px;
}
.blog-bottom .list-blogs .item .dots .dot.active{
    background-color: brown;
    cursor:none;
}
.blog-bottom .list-blogs .item .dots .dot{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primar-color);
}
.list-blogs{
    display:flex;
    overflow: hidden;
}
/* footer */
footer{ 
    padding-top:96px;
    padding-bottom: 28px;
    background-color: #2E2100;
}
footer .row{
    display:flex;
    gap: 130px;
}
footer .row .column:first-child{
}
footer .row .column .desc-footer{
    margin-top: 18px;
    color: #BFBCB2;
    max-width: 267px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
footer .row .column .social{
    margin-top: 18px;
    display: flex;
    gap:10px;
}
footer .row .column .items{
    display:flex;
    flex-direction: column;
    gap:12px;
}
footer .row .column .title-footer{
    display: inline-block;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
footer .row .column .title-footer::after{
    display: flex;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554B;
    margin: 14px 0 28px;

}
footer .row .column .items .item a{
    display: inline-block;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    max-width: 237px;
}
footer .row .column .items .item a strong{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.row-bottom{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-bottom .cross{
    width: 1170px;
    height: 1px;
    background-color:  #59554B;
}
.row-bottom .the-end{
    margin-top: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
.icon:hover{
    opacity: 0.5;
}
a:hover{
    opacity: 0.5;
}







